@import '../../vars';

.sideBar {
  width: 200px;
  height: 100%;
  background: black;
  margin: 0;
  padding: 0px;
  padding-top: 10px;
  .image-logo {
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 15px 0px;
    img {
      height: 100%;
      margin-bottom: 20px;
    }
  } 
  li {
    list-style: none;
    padding-left: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
  }

  .active {
    border-left: 2px solid $font-color_primary;
    padding-left: 18px;
  }
  .library {
    text-transform: uppercase;
    cursor: unset;
    font-weight: 300;
    color: $font-color_secundary;
  }
  .newPlaylist {
    position: absolute;
    bottom: 80px;
    .addIcon {
      margin-right: 10px;
      transform: translateY(1px);
      &:before {
        font-size: 20px;
      }
    }
    span {
      color: $font-color_secundary;
      font-weight: 300;
    }
  }

  form{
    button{
      background-color: #2bcc6c;
      color: white;
      padding: 12.5px 30px;
      border-radius: 25px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      border:none;
      cursor: pointer;
    }
    .title{
      margin: 0px 0px 35px 0px;
    }
    input{
      margin-bottom: 20px;
      height: 35px;
      padding-left: 8px;
      font-size: 16px;
      width: 100%;
      color: black;
    }
    .content-wrap{
      margin: 0px auto;
      max-width: 250px;
      text-align: center;
    }
  }
}
